h1 {
    color: rgb(102, 255, 0);
    text-align:center;
    margin: 0 auto;
}

h2 {
    color: rgb(255, 238, 0);
    text-align:center;
    margin: 0 auto;
}

li {
    color: rgb(255, 136, 0);
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
}

bord {
    height: 100%;
    width: 100%;
}